<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">School Buses</h4>
      </div>
      <div class="card-body">
        <div id="map" class="map"></div>
      </div>
    </div>
  </div>

  <!-- A list of buses with columns: Registration Number, Assigned Driver, Active (true/false) -->
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Buses</h4>
      </div>
      <div class="card-body">
        <div class="table-full-width">
          <table class="table table-hover table-striped">
            <thead class="text-primary">
              <tr>
                <th *ngFor="let cell of tableData1.headerRow">{{ cell }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of tableData1.dataRows">
                <td *ngFor="let cell of row" (mwlClick)="showBus(row)">
                  <!-- hide column position 4 containing firebase document id -->
                  <span *ngIf="cell != row[4]">
                    <span [innerHTML]="cell"></span>
                  </span>
                  <!-- add pencil icon -->
                  <span *ngIf="cell == row[4]">
                    <i class="nc-icon nc-settings-gear-65"></i>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
