<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <!-- Filter drop down with options namely PARENTS, TEACHERS, STUDENTS, BUS DRIVERS -->
        <div class="col-md-2 float-right">
          <div class="form-group">
            <label for="filter">Filter</label>
            <select
              class="form-control"
              id="filter"
              (change)="filterAnnouncements($event.target.value)"
            >
              <option value="parents">Parents</option>
              <option value="teachers">Teachers</option>
              <option value="students">Students</option>
              <option value="busdrivers">Bus Drivers</option>
            </select>
          </div>
        </div>
        <br />
        <!-- Add Announcement button top right -->
        <button
          class="btn btn-primary btn-round float-right"
          (click)="addAnnouncement()"
        >
          <i class="fa fa-plus"></i> Add Announcement
        </button>
        <h4 class="card-title">Announcements</h4>
      </div>
      <div class="card-body">
        <div class="table-full-width">
          <table class="table table-hover table-striped">
            <thead class="text-primary">
              <tr>
                <th *ngFor="let cell of tableData1.headerRow">{{ cell }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of tableData1.dataRows">
                <td
                  *ngFor="let cell of row; let i = index"
                  [ngClass]="{ collapsible: cell.length > 250 }"
                  (mwlClick)="showAnnouncement(row)"
                >
                  <span *ngIf="cell.length > 250 && i != 0">
                    <span [innerHTML]="cell | slice: 0:250"></span>
                  </span>
                  <span *ngIf="cell.length <= 250 && i != 0">
                    <span [innerHTML]="cell"></span>
                  </span>
                </td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- empty state -->
        <div class="col-md-12" *ngIf="!loading && !announcementsFound">
          <h4 class="text-center">No announcements found</h4>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Add announcement modal form -->
<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h4 class="modal-title">Add Announcement</h4>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="announcementForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          formControlName="title"
          placeholder="Enter title"
        />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea
          class="form-control"
          id="description"
          formControlName="description"
          rows="3"
          placeholder="Enter description"
        ></textarea>
      </div>

      <!-- dropdown of announcement types namely PARENT, TEACHER, STUDENT, BUS_DRIVER -->
      <div class="form-group">
        <label for="announcementType">Announcement Type</label>
        <select
          class="form-control"
          id="announcementType"
          formControlName="announcementType"
        >
          <option value="PARENT">PARENT</option>
          <option value="TEACHER">TEACHER</option>
          <option value="STUDENT">STUDENT</option>
          <option value="BUS_DRIVER">BUS_DRIVER</option>
        </select>
      </div>
    </form>
    <!-- Submit button -->
    <button
      type="submit"
      class="btn btn-primary btn-round"
      [disabled]="!announcementForm.valid"
      (click)="onSubmit()"
    >
      Submit
    </button>
  </div>
</ng-template>

<!-- view announcement modal -->
<ng-template #modalContentView let-close="close">
  <div class="modal-header">
    <h4 class="modal-title">View Announcement</h4>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="title">Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        formControlName="title"
        placeholder="Enter title"
        [value]="announcement.title"
        disabled
      />
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <!-- Textarea fitting content-->
      <textarea
        class="form-control"
        id="description"
        formControlName="description"
        placeholder="Enter description"
        [value]="announcement.description"
        disabled
      ></textarea>
    </div>
    <div class="form-group">
      <label for="announcementType">Announcement Type</label>
      <select
        class="form-control"
        id="announcementType"
        formControlName="announcementType"
        [value]="announcement.announcementType"
        disabled
      >
        <option value="PARENT">PARENT</option>
        <option value="TEACHER">TEACHER</option>
        <option value="STUDENT">STUDENT</option>
        <option value="BUS_DRIVER">BUS_DRIVER</option>
      </select>
    </div>
    <!-- Close button -->
    <button type="submit" class="btn btn-primary btn-round" (click)="close()">
      Close
    </button>
    &nbsp;
    <button
      class="btn btn-danger btn-round"
      (click)="deleteAnnouncement(announcement)"
    >
      Delete
    </button>
  </div>
</ng-template>
