<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <!-- Filter drop down with options namely PARENTS, TEACHERS, STUDENTS, BUS DRIVERS -->
        <div class="col-md-2 float-right">
          <div class="form-group">
            <label for="filter">Filter</label>
            <select
              class="form-control"
              id="filter"
              (change)="filterMembers($event.target.value)"
            >
              <option value="all">All</option>
              <option value="parents">Parents</option>
              <option value="teachers">Teachers</option>
              <option value="students">Students</option>
              <option value="busdrivers">Bus Drivers</option>
            </select>
          </div>
        </div>
        <h4 class="card-title">School Members</h4>
      </div>
      <div class="card-body">
        <div class="table-full-width">
          <table class="table table-hover table-striped">
            <thead class="text-primary">
              <tr>
                <th *ngFor="let cell of tableData1.headerRow">{{ cell }}</th>
                <th class="float-right">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of tableData1.dataRows">
                <!-- if cell column is 4 and value is true then set color to green,  -->
                <td
                  *ngFor="let cell of row; let i = index"
                  [ngClass]="{ 'text-success': i == 4 && cell == true }"
                  (mwlClick)="showMember(row)"
                >
                  {{ cell }}
                </td>

                <td class="float-right">
                  <!-- approve or decline action buttons -->
                  <button
                    class="btn btn-success btn-sm"
                    (click)="approveUser(row)"
                  >
                    Approve
                  </button>
                  &nbsp;
                  <button
                    class="btn btn-danger btn-sm"
                    (click)="declineUser(row)"
                  >
                    Block
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- empty state -->
        <div class="col-md-12" *ngIf="!loading && !usersFound">
          <h4 class="text-center">No users found</h4>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- View member / Edit member -->
<ng-template #modalContentView let-close="close">
  <!-- <div class="modal-header">
    <h4 class="modal-title">View Member</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div> -->
  <div class="modal-body">
    <form [formGroup]="memberForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Member Details</h4>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="name">Name</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="name"
                      id="name"
                      placeholder="Name"
                      [value]="selectedUser"
                      disabled
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="email"
                      id="email"
                      placeholder="Email"
                      [value]="selectedUserEmail"
                      disabled
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="phone">Phone</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="phone"
                      id="phone"
                      placeholder="Phone"
                      [value]="selectedUserPhone"
                      disabled
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="role">Role</label>
                    <select
                      class="form-control"
                      id="role"
                      formControlName="role"
                      [value]="selectedUserRole"
                    >
                      <option value="PARENT">Parent</option>
                      <option value="TEACHER">Teacher</option>
                      <option value="STUDENT">Student</option>
                      <option value="BUS_DRIVER">Bus Driver</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>

    <!-- Update button -->
    <button class="btn btn-primary float-right" (click)="onSubmit()">
      Update
    </button>
  </div>
</ng-template>
