<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">School Members</h4>
      </div>
      <div class="card-body">
        <div class="table-full-width">
          <table class="table table-hover table-striped">
            <thead class="text-primary">
              <tr>
                <th *ngFor="let cell of tableData1.headerRow">{{ cell }}</th>
                <th class="float-right">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of tableData1.dataRows">
                <!-- if cell column is 4 and value is true then set color to green,  -->
                <td
                  *ngFor="let cell of row; let i = index"
                  [ngClass]="{ 'text-success': i == 4 && cell == true }"
                >
                  {{ cell }}
                </td>

                <td class="float-right">
                  <!-- approve or decline action buttons -->
                  <button
                    class="btn btn-success btn-sm"
                    (click)="approveUser(row)"
                  >
                    Approve
                  </button>
                  &nbsp;
                  <button
                    class="btn btn-danger btn-sm"
                    (click)="declineUser(row)"
                  >
                    Block
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- empty state -->
        <div class="col-md-12" *ngIf="!loading && !usersFound">
          <h4 class="text-center">No users found</h4>
        </div>
      </div>
    </div>
  </div>
</div>
