<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h5 class="title">Requests</h5>
      </div>
      <div class="card-body">
        <div class="table-full-width">
          <table class="table table-hover table-striped">
            <thead class="text-primary">
              <tr>
                <th *ngFor="let cell of tableData1.headerRow">{{ cell }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of tableData1.dataRows">
                <td *ngFor="let cell of row">
                  {{ cell }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h5 class="title">Requests info</h5>
      </div>
      <div class="card-body"><!-- Contents --></div>
    </div>
  </div>
</div>
