<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Requests</h4>
      </div>
      <div class="card-body">
        <div class="table-full-width">
          <table class="table table-hover table-striped">
            <thead class="text-primary">
              <tr>
                <th *ngFor="let cell of tableData1.headerRow">{{ cell }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of tableData1.dataRows">
                <td *ngFor="let cell of row" (mwlClick)="showUserRequests(row)">
                  {{ cell }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">{{ selectedUser }}</h4>
      </div>
      <div class="card-body">
        <div class="table-full-width">
          <table class="table table-hover table-striped">
            <thead class="text-primary">
              <tr>
                <th *ngFor="let cell of tableData2.headerRow">{{ cell }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of tableData2.dataRows">
                <!-- <td *ngFor="let cell of row" (mwlClick)="showUserRequest(row)">
                  {{ cell }}
                </td> -->

                <!-- -->
                <td
                  *ngFor="let cell of row; let i = index"
                  (mwlClick)="showUserRequest(row)"
                >
                  <span *ngIf="i != 4">
                    <span [innerHTML]="cell"></span>
                  </span>
                </td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- view request modal -->
<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h4 class="modal-title">View Request</h4>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="requestForm" (ngSubmit)="onSubmit(requestForm)">
      <div class="form-group">
        <label for="subject">Title</label>
        <input
          type="text"
          class="form-control"
          id="subject"
          formControlName="subject"
          placeholder="Enter title"
          [value]="this.requestForm.value.subject"
          disabled
        />
      </div>
      <div class="form-group">
        <label for="time">Time</label>
        <input
          type="datetime"
          class="form-control"
          id="time"
          formControlName="time"
          placeholder="Enter time"
          [value]="this.requestForm.value.time"
          disabled
        />
      </div>
      <div class="form-group">
        <label for="message">Description</label>
        <textarea
          class="form-control"
          id="message"
          formControlName="message"
          placeholder="Enter description"
          [value]="this.requestForm.value.message"
          disabled
        ></textarea>
      </div>
      <div class="form-group">
        <label for="status">Status</label>
        <!-- a drop down with default selected as this.requestForm.status -->
        <select
          class="form-control"
          id="status"
          formControlName="status"
          [value]="this.requestForm.value.status"
        >
          <option value="PENDING">Pending</option>
          <option value="PROCESSING">Processing</option>
          <option value="APPROVED">Approved</option>
          <option value="REJECTED">Rejected</option>
          <option value="CANCELLED">Cancelled</option>
        </select>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="close()">
      Close
    </button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="onSubmit(requestForm)"
    >
      Save changes
    </button>
  </div>
</ng-template>
