
<div class="sidebar-wrapper">
  <div class="logo text-center">
    <a href="/" class="simple-text logo-normal">
      <img src="assets/img/logo.png" alt="Mafunzo" width="80" class="mb-2">
    </a>
  </div>
    <ul class="nav">
        <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
            <a [routerLink]="[menuItem.path]">
                <i class="nc-icon {{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>
