<div class="container-fluid">
  <div class="row no-gutter">
    <!-- The image half -->
    <div class="col-md-6 d-none d-md-flex bg-image"></div>

    <!-- The content half -->
    <div class="col-md-6 bg-light">
      <div class="login d-flex align-items-center py-5">
        <!-- Demo content-->
        <div class="container">
          <div class="row">
            <div class="col-lg-10 col-xl-7 mx-auto">
              <!-- A logo above the form of small size -->
              <div class="text-center mb-4">
                <img
                  src="assets/img/logo.png"
                  alt="Mafunzo"
                  width="100"
                  class="mb-2"
                />
                <h3 class="display-5 text-center">Reset Account Password</h3>
                <p class="text-muted mb-0">
                  Please enter the email address associated with your account to
                  reset your password.
                </p>
              </div>

              <form [formGroup]="forgotForm" (ngSubmit)="forgotPassword()">
                <div class="form-group mb-3">
                  <input
                    id="inputEmail"
                    formControlName="inputEmail"
                    type="email"
                    placeholder="Email address"
                    required=""
                    autofocus=""
                    class="form-control rounded-pill border-0 shadow-sm px-4"
                  /><span
                    class="text-danger"
                    *ngIf="
                      forgotForm.controls['inputEmail'].dirty &&
                      forgotForm.hasError('inputEmail', 'inputEmail')
                    "
                    >Email is required</span
                  >
                </div>

                <button
                  class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm"
                  [disabled]="forgotForm.invalid"
                >
                  <i class="fa fa-spinner fa-spin" *ngIf="loading"> </i>
                  Reset Password
                </button>
                <div class="text-center d-flex justify-content-between mt-4">
                  <p>
                    Back to
                    <a href="#" class="font-italic text-muted"> <u>Login</u></a>
                  </p>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- End -->
      </div>
    </div>
    <!-- End -->
  </div>
</div>
